{{#*inline "page"}}
    <div class="row flex-row align-items-center justify-content-center h-100">
        <div class="pl-5 pr-5">
            <h3>Coming soon!</h3>
        </div>
    </div>
{{/inline}}
{{> base}}