{{#*inline "content"}}
    <div class="pl-5 pr-5">
        <p style="font-size: 3em">Hello! I'm Daniel.</p>
        <p style="font-size: 2em">
            I'm an experienced software engineer looking to work on cool problems in web API or embedded systems
        </p>
    </div>
{{/inline}}
{{> base}}