{{#*inline "page"}}
    <div class="row flex-row align-items-center justify-content-center h-100">
        <div class="pl-5 pr-5">
            <h1>Hello! I'm Daniel.</h1>
            <h3 class="pt-2">
                I'm an experienced software engineer looking to work on cool problems in web API or embedded systems
            </h3>
        </div>
    </div>
{{/inline}}
{{> base}}