{{#*inline "styles"}}
    <style>
        #portrait-container {
            height: 250px;
            width: 250px;
        }
        .icon {
            height: 25px;
            width: 25px;
        }
    </style>
{{/inline}}
{{#*inline "content"}}
        <div class="row d-flex text-center justify-content-center align-items-center">
            <div id="portrait-container">
                <img src="/assets/me.jpg" class="img-fluid rounded-circle" alt="Daniel Stone"/>
            </div>
        </div>
        <div class="row align-items-start">
            <div>
                <div class="fs-1">Hello! I'm Daniel.</div>
                <div class="fs-2">
                    I'm an experienced senior software engineer specializing in backend development with a focus on PHP
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <a class="card" href="mailto:jobs@danielstone.dev">
                    <div class="card-body">
                        <p class="card-text text-dark text-center">
                            <img src="/assets/mail.svg" class="icon" alt="Email Icon"/>
                            <span class="d-none d-md-block">Email Me</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card"
                   href="https://www.linkedin.com/in/daniel-stone-926688159/"
                   target="_blank"
                   rel="noopener noreferrer"
                >
                    <div class="card-body">
                        <p class="card-text text-dark text-center">
                            <img src="/assets/LI-In-Bug.png" class="icon" alt="LinkedIn Icon"/>
                            <span class="d-none d-md-block">LinkedIn</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="card"
                   href="https://github.com/danielstjr"
                   target="_blank"
                   rel="noopener noreferrer"
                >
                    <div class="card-body">
                        <p class="card-text text-dark text-center">
                            <img src="/assets/github-mark.svg" class="icon" alt="GitHub Icon"/>
                            <span class="d-none d-md-block">GitHub</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
{{/inline}}
{{> base}}
