{{#*inline "page"}}
<div class="row flex-row align-items-center justify-content-center h-100">
    <div class="pl-5 pr-5">
        <h3>Hello! I'm Daniel.</h3>
        <h4 class="pt-2">
            I'm an experienced software engineer looking for my next programming opportunity working in API
            development or embedded technologies.
        </h4>
    </div>
</div>
{{/inline}}
{{> base}}