{{#*inline "content"}}
    <div class="ps-5 pe-5">
        <p class="fs-1">Hello! I'm Daniel.</p>
        <p class="fs-2">
            I'm an experienced senior software engineer looking to work on cool problems in web API or embedded systems
        </p>
    </div>
{{/inline}}
{{> base}}