{{#*inline "content"}}
    <p class="pb-2 fs-4">
        My fascination with programming began with video games. My parents bought me a Nintendo GameCube with <em>Mario
        Kart: Double Dash</em> and <em>The Legend of Zelda: Collector's Edition</em> for the Nintendo GameCube. I was
        amazed to figure out that these games were built with code, and I wanted to know how. Around age twelve, I
        picked up <em>C++ for Dummies</em> from my local Barnes and Noble and started building CLI apps in
        <code>Code::Blocks</code>. When I hit a wall trying to build GUIs, I discovered <code>JavaFX</code> and
        continued my crash course in Java.
    </p>
    <p class="pb-2 fs-4">
        Over the next few years, I picked up HTML, CSS, JavaScript, Python, and kept reading about C++ and Java. Soon,
        my Dad picked up on my interest in development and promoted me from associate lawn mower to assistant Web
        Developer in the family business. I learned about server maintenance, language versioning, image optimization,
        SEO, and performance tuning. That early experience gave me a foundation in real-world software challenges.
    </p>
    <p class="pb-2 fs-4">
        I enrolled in the University of Kansas in the Fall of 2017 with one goal: land an internship in web development.
        I built my resume at the engineering career center, practiced my pitch, and prepared for career fairs. After
        multiple interviews and coding challenges, I didn’t land an internship that fall, but I was undaunted. After the
        spring career fair, I had secured a role at Rx Savings Solutions.
    </p>
    <p class="pb-2 fs-4">
        The internship was everything I wanted and more, I learned more in three months than I had in the previous seven
        years combined. I built tools that made it into production and formed lasting relationships. The internship
        turned into a part-time role, and later transitioned to full-time. I optimized Redis caches, managed support
        rotations, and gained deep experience testing and product development.
    </p>
    <p class="pb-2 fs-4">
        With Rx Savings Solutions' support, I transferred to an online CS program at Western Governors University to
        better align with my work schedule. After two years, my time at RxSS came to an end, so I decided to broaden my
        experience across new stacks and team dynamics.
    </p>
    <p class="pb-2 fs-4">
        At Active Logic Labs, I sharpened my skills in full-stack development with Laravel and Vue.js. At Crescendo
        Collective, I learned how to build scalable backend services in production Java. Later at Homebase, I stepped
        into a senior role—leading architecture discussions and collaborating across teams to design solutions that
        respected the needs of product, design, and ops.
    </p>
    <p class="pb-2 fs-4">
        I’m currently a Senior Backend Software Developer at Penn Entertainment, where I own a mission-critical player
        experience data processing platform. I work independently to design and ship reliable backend services that
        support high-volume user interactions and data integrity across multiple systems.
    </p>
{{/inline}}
{{> base}}