{{#*inline "content"}}
    <div>
        <p class="pb-2 fs-4">
            My fascination with programming began with playing video games as a kid and learning that it was
            all made possible by programs based on game engines. Then, around age twelve, I learned that C++
            was the basis for a lot of games and game engines, so I picked up a book called <em>C++ for Dummies</em>. I
            wrote several CLI applications using an IDE called <code>Code::Blocks</code>, but struggled to take the next
            step into writing GUI apps. After a bit of research, I learned about the <code>JavaFX</code> library and
            picked up a Java textbook to continue my crash course in programming.
        </p>
        <p class="pb-2 fs-4">
            Over the next several years I continued to expand my programming skills, picking up HTML, CSS, Javascript,
            and Python in addition to the books I kept buying on C++ and Java. After about three years of learning, my
            Dad picked up on my interest in development and moved me from lawn mower and weedeater duty to assistant to
            our Web Developer in the family business. I learned a lot about server maintenance, language versions,
            databases, image sizes, page load times, SEO, and more.
        </p>
        <p class="pb-2 fs-4">
            With my family's support and encouragement, I spent time at summer camps learning more about programming
            and enrolled in several programming college courses during my time in high school. This all culminated in
            enrolling to the University of Kansas in the Fall of 2017. With my experience and love for programming I had
            built over the previous 7 years, I had one major goal going into college: get an internship for the summer
            of 2018. I built my resume with the engineering career center and workshopped it with my new college friends,
            worked on my elevator pitch, made meticulous notes of every company at the Fall Engineering Career fair, and
            gave it a shot. After 3 interviews and 1 coding challenge, I had learned a lot but didn't come out with an
            internship. Undeterred, I continued working on my degree and waited for the Spring Career Fair of 2018. Doing
            a similar process, I gave it a shot and met the lovely people at Rx Savings Solutions. An interview and a
            coding challenge later, I had secured my internship.
        </p>
        <p class="pb-2 fs-4">
            My internship with Rx Savings Solutions started in May of 2018, and in three months I learned more than I
            had in the previous 7 years combined. I made great friends and valuable contributions, and by the end of it
            I was able to convert my internship into a part-time job opportunity. With the security the company provided,
            I eventually dropped out of the University of Kansas to pursue an online degree with Western Governors
            University while I worked there. For the next two years I worked at Rx Savings Solutions, doing everything
            from optimizing Redis Caches to running solo support rotations. Eventually, my time with Rx Savings Solutions
            came to an end, and I decided to move on to try my hand at different tech stacks with a few different
            opportunities.
        </p>
        <p class="pb-2 fs-4">
            These next opportunities in web development included deepening my understanding of Javascript and full stack
            development at Active Logic Labs, learning how to do production Java with Crescendo Collective, and stepping
            into a senior role at Homebase where I learned to effectively lead architecture discussions and interact
            with cross-functional teams while staying considerate to their needs and requirements. Currently, I'm working
            at Penn Entertainment as a Senior Backend Software Developer where I am the sole developer on our player
            experience data processing application.
        </p>
    </div>
{{/inline}}
{{> base}}