{{#*inline "page"}}
    <div class="row flex-row align-items-center justify-content-center h-100">
        <div class="pl-5 pr-5">
            <h4 class="pb-2">
                I've always loved finding the best way to solve interesting problems. When I was little, it was math and
                Rubik's Cubes. Now that I'm older, I focus on creating well defined APIs that are easy to use, maintain,
                and test (or anything in my favorite programming language Rust!).
            </h4>
            <h4 class="pb-2">
                My fascination with programming originated from playing video games as a kid and learning that it was
                all made possible by programs based on game engines. When I started my 6th grade year, I found out C++
                was the basis for a lot of games and game engines so I picked up a book called "C++ for Dummies". I
                wrote several CLI applications using an IDE called CodeBlocks but had a really hard time making anything
                visual, so I picked up a Java textbook next to work off its javax library.
            </h4>
            <h4 class="pb-2">
                Over the next several years I learned HTML/CSS/JS, C#, and Python as well as some basic DevOps while
                managing a website for a local business. All of this culminated in getting an internship at a company
                called Rx Savings Solutions which had a wonderful vision of saving people money from predatory
                prescription medication pricing. In all my time learning in the previous 7 years, I feel like I learned
                twice that in my three month internship.
            </h4>
            <h4 class="pb-2">
                For the next two years I worked at Rx Savings Solutions doing all manner of programming. From optimizing
                Redis Caches to running support rotations, I did it all. When I felt I had done all I could do in my
                role at Rx Savings Solutions, I decided to move on and try my hand at several different jobs with
                different responsibilities. I developed a deep understanding of JavaScript development at Active Logic
                Labs, I learned production Java and solution per customer architecture at Crescendo Collective, and
                learned how to effectively lead architecture discussions and consider cross-functional team needs and
                requirements at HomeBase.
            </h4>
            <h4 class="pb-2">
                Through my journey over the last several years I have learned a lot and honed my existing skills for
                writing efficient, maintainable, and testable code. Now, I am looking for my next opportunity in
                software development with a focus on web API or embedded system development at a company whose mission I
                can stand behind and make real change with.
            </h4>
        </div>
    </div>
{{/inline}}
{{> base}}